
:root {
    --background-dark:#081018;
    --text-white: #ffffff;
    --bg: var(--background-dark);
    --logout-btn: #e74c3c;
    --logout-btn-hover: #c0392b;
    --sidebar-bg: #000000;
    --sidebar-gradient-start: #2C3E50;
    --sidebar-gradient-end: #34495E;
    --sidebar-shadow: rgba(0, 0, 0, 0.2);
    --menu-btn-bg: #2C3E50;
    --borda_hover:#3498db;
    --settings-btn-hover: #0f1d27;
      --table_borda: var(--borda_hover);
      --table_head:  var(--borda_hover) ;
      --table_hover: #133347;
    
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

.user-profile {
   display: flex;
   align-items: center;
}

.user-avatar {
   width: 30px; /* Ajuste o tamanho conforme necessário */
   height: 30px; /* Ajuste o tamanho conforme necessário */
   border-radius: 50%; /* Para tornar a imagem circular */
   margin-right: 10px;
}

.user-name {
   font-size: 16px;
   color: #ffffff;
}

/* Adicione isso ao seu CSS existente */
.widgets {
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.widget {
background-color: var(--background-dark);
color: white;
padding: 15px;
border-radius: 8px;
width: 48%; /* Ajuste conforme necessário para o espaçamento desejado */
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
margin-bottom: 20px;
}

.widget h3 {
font-size: 18px;
margin-bottom: 10px;
}

.widget p, .widget ul {
font-size: 14px;
}

.charts {
margin-top: 30px;
}

/* Adicione mais estilos conforme necessário */


body {
font-family: 'Arial', sans-serif;
background-color: var(--background-dark); /* Cor de fundo escura para o tema dark */
color: #ffffff; /* Cor do texto para o tema dark */
display: flex;
}
.right_container {
width: 84vw;
margin-left: 16vw;
height: 100vh;
display: flex;
flex-direction: column;


}
main {
padding: 20px; ;

}

.header {
padding: 15px;
background-color: var(--background-dark); /* Cor de fundo para o cabeçalho */
font-size: 24px;
color: #ffffff; /* Cor do texto para o cabeçalho */
text-align: center;
display: flex;
justify-content: space-between;
align-items: center;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra no cabeçalho */
border-bottom: 1px solid var(--borda_hover); /* Borda na parte inferior do cabeçalho */
}
.logout-button {
background-color: #e74c3c; /* Vermelho escuro para o botão de logout */
color: white;
border: none;
padding: 10px 15px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}

.logout-button:hover {
background-color: #c0392b; /* Vermelho mais escuro ao passar o mouse */
}

.sidebar {
position: fixed;


background-color: #000000;
padding: 20px;
color: white;
width: 16vw;

height: 100vh;
margin: 0;
background: var(--background-dark);
color: #ffffff;
text-align: justify;


box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
border-right: 1px solid var(--borda_hover);
display: flex;
flex-direction: column;
}


.sidebar-header {
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
}

.sidebar-header img {
width: 50px;
height: 50px;
margin-bottom: 10px;
}

.title {
font-size: 18px;
}

.menu {
list-style-type: none;
padding: 0;
margin: 20px 0;
}

.menu_buttons {
padding: 10px;
margin: 5px 0;
cursor: pointer;
border-radius: 5px;
transition: background-color 0.3s;
background-color: var(--background-dark);
border: 1px solid var(--borda_hover);
}

.menu_buttons:hover {
background-color: var(--table_hover);
}

.sidebar-footer {
margin-top: auto;
display: flex;
flex-direction: column;
}

.settings-button {
background-color: var(--borda_hover);
color: white;
border: none;
padding: 10px 15px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
margin-bottom: 20px;
}

.settings-button:hover {
background-color:var(--settings-btn-hover);
}

/* Ruben */
.btns_topo_tabelas{
    padding: 5px;
    margin: 5px auto;
    cursor: pointer;
}

.btnClicado{
   background-color: #515151;
}
.menu_buttons{
    padding: 10px;
    cursor: pointer;
}

.menu_buttons:hover{
    background-color: grey;
}

table {
   width: 80%;
   border-collapse: collapse;
   margin: 50px auto;
}

table, td {
   border: 1px solid #ccc;
}

th, td {
   padding: 10px;
   text-align: center;
}

#users_table  td{
    height:100px;
}

th {
   border: 1px solid #3498db;
}

tr:hover {
   background-color: grey;
}

.fas{
   color: white;
}

.profile_pic > img{
    height: 90%;
    border-radius: 50%;
}

.action-icons a {
    text-decoration: none;
    margin: 0 5px;
}

.new_user_form{
    min-width: 300px;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--menu-btn-bg);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
}


.new_room_form{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--menu-btn-bg);
    border-radius: 5px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    text-align: center;
}

.button-container button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the close button (cross) */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.accesses_container, .rooms_container, .users_container{
    display: none;
}


/* Formulario de eliminação de utilizadores */

.delete_user_form{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display:none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--menu-btn-bg);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.delete_user_form_buttons{
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin: auto;
}

.delete_user_form_buttons > *{
    padding: 10px;
    border-radius: 10px;
    margin: 10px 8px auto;
    
}

#cancel_btn{
    background: red;
    color: white;
    cursor: pointer;
}

#confirm_btn{
    color: green;
    cursor: pointer;
}
#users_table, #create_user_button, #create_room_button {
    padding: 5px;
    margin: 5px auto;
    cursor: pointer;
}

/* Estilos gerais para tabelas */
table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
}

th,
td {
   padding: 12px;
   text-align: left;
   border-bottom: 1px solid #34495E;
}

th {
   /* background-color: #2C3E50; */
   color: #ffffff;
}

td.profile_pic img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin-right: 10px;
}

td[style*="background-color: green;"],
td[style*="background-color: red;"] {
   color: #ffffff;
}

/* Estilos específicos para botões em tabelas */
table button {
   background-color: #3498db;
   color: white;
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s;
}

table button:hover {
   background-color: #2980b9;
}
/* Efeito hover para linhas da tabela */
tr:hover {
    background-color: #34495E;
}

/* Efeito hover para botões nas tabelas */
table button:hover {
    background-color: #2980b9;
}

/* Altera o cursor para indicar interatividade nos botões */
table button {
    cursor: pointer;
}


.new_user_form,
.new_room_form,
.edit_user_form,
.delete_user_form {
    margin-top: 20px;
    padding: 20px;
    background-color: #2C3E50;
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.admins_container,
.users_container,
.rooms_container,
.accesses_container{
    margin-top: 20px;
    padding: 20px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.edit_user_form{
    display: none;
}

#create_user_button, #create_admin_button, #create_room_button{
   background-color: #3498db;
   color: white;
   padding: 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.action-icons {
    display: flex;
    justify-content: space-around;
}

.action-icons a {
    text-decoration: none;
    margin: 0 5px;
}

.new_user_form,
.new_room_form,
.delete_user_form {
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
    margin: 10px;
    height: 90%;
  width: 60%;
    border-radius: 5px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #10b3db;
    box-shadow: 0px 0px 10px rgba(0, 195, 255, 0.952);
    z-index: 99;
}


.form_h2{
   border-bottom: 1px solid var(--borda_hover);
   margin: 10px;
   padding: 10px;
}
.form-group {
    margin-bottom: 15px;
    display: flex;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    max-width: 135px;
    align-self: center;
}

.form-group input {
   background-color: #0d2736;
   color: white;
    width: 100%;
    padding: 10px;
    border: 1px solid #10b3db;
    border-radius: 5px;
}

.button-container {
    text-align: center;
}

.button-container button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



/* Style for the close button (cross) */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Adicione o CSS para o formulário de exclusão de usuários */
.delete_user_form_buttons {
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin: auto;
}

.delete_user_form_buttons > * {
    padding: 10px;
    border-radius: 10px;
    margin: 10px 8px auto;
}

#cancel_btn {
    background: red;
    color: white;
    cursor: pointer;
}

#confirm_btn {
    color: green;
    cursor: pointer;
}





.image-upload-container {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.hidden-input {
   display: none;
  
}

.upload-label {
   display: inline-block;
   background-color: #3498db;
   color: white;
   padding: 10px;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s;
   margin-bottom: 10px;
}

.upload-label:hover {
   background-color: #2980b9;
}

.upload-label i {
   margin-right: 8px;
}

.image-preview {
   width: 100px;
   height: 100px;
   background-color: #ddd;
   border-radius: 50%;
   overflow: hidden;
   margin-bottom: 10px;
}

.image-preview img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
}


.form-group.img_form-group{
   display: block;
align-items: center;
  
}