*{
    margin: 0;
    box-sizing: border-box;
    padding: 0%;
}

main{
    margin: 10vh auto auto auto;
    max-width: 1200px;
    border: 1px solid grey;
    height: 70vh;
}

.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
    height: fit-content;
    border-bottom: 1px solid grey;
    align-items: center;
    justify-content: center;
}

#create_user_button, #create_room_button{
    padding: 5px;
    margin: 5px auto;
    cursor: pointer;
}

#li_admins{
    background-color: grey;
}
.menu_buttons{
    padding: 10px;
    cursor: pointer;
}

.menu_buttons:hover{
    background-color: #ebe9e9;
}

table {
    width: 100%;
    border-collapse: collapse;
    
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
    text-align: center;
}

#users_table  td{
    height:100px;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.profile_pic > img{
    height: 90%;
    border-radius: 50%;
}

.action-icons {
    display: flex;
    justify-content: space-around;
}

.action-icons a {
    text-decoration: none;
    margin: 0 5px;
}

.new_user_form{
    min-width: 300px;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
}


.new_room_form{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    text-align: center;
}

.button-container button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the close button (cross) */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.accesses_container, .rooms_container, .users_container{
    display: none;
}


/* Formulario de eliminação de utilizadores */

.delete_user_form{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.delete_user_form_buttons{
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin: auto;
}

.delete_user_form_buttons > *{
    padding: 10px;
    border-radius: 10px;
    margin: 10px 8px auto;
    
}

#cancel_btn{
    background: red;
    color: white;
    cursor: pointer;
}

#confirm_btn{
    color: green;
    cursor: pointer;
}

