    


  
.user-details-container {
    max-width: 90%;
    margin: 50px auto;
    background-color: #212e3b;

    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    text-align: start;
}






.user-details {
    display: grid;
    gap: 20px;
}

.profile-picture img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    margin: 0 auto 15px;
    display: block;
}

.details {
    display: grid;
    gap: 20px;
}

.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3498db;
    padding-bottom: 15px;
}

label {
    font-weight: bold;
    width: 150px;
    margin-right: 10px;
    color: #3498db;
}

span {
    flex-grow: 1;
    padding: 5px;
    color: #ecf0f1;
}

/* Hover effect for details */
.detail:hover {
    background-color: #2c3e50;
    transition: background-color 0.3s ease-in-out;
}


